/* From google-fonts page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');
/* Resetting the css */
*{
    margin: 0;
    padding: 0;
}

.container{
    /* flex is used to bring sidebar and main content side-by-side i.e. 2 things opposite to each other*/
    display: flex;
}

.sidebar{
    background-color: cadetblue;
    /* vw and vh --> viewport width and height, divides the screen in %  */
    width: 15vw;                         
    height: 100vh;
    /* From google-fonts page */
    font-family: 'Montserrat', sans-serif;
}

.main{
    /* background-color: crimson; */
    width: 87vw;
}

/* .className sub-tag  */
.sidebar nav{
    padding: 23px;
    font-size: 26px;
}


/* .className sub-tag sub-tag */
.sidebar nav li{
    list-style: none;
    padding: 30px 0;
    margin-top: 35px;
}

.sidebar nav a{
    text-decoration: none;
}

.infocontainer{
    /* background-color:green; */
    height: 55vh;
    width: 70vw;
    margin: auto;     /* to center the div*/
    margin-top: 100px;
    display: flex;
    justify-content: space-around;     /* brings space around the two flexed things*/
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Source Code Pro', monospace;
}

.hello{
font-size: 50px;

}

.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

.about{
    font-size: 30px;
}

.buttons button{
padding: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 25px;
color: white;
background-color: rgb(17, 155, 160);
font-weight: bold;
margin: 0 3px;
cursor: pointer;
}

.buttons{
margin-top: 34px;
}

.buttons button:hover{
    background-color: cornsilk;
    color: black;
}

.devpic img{
    
    height: 55vh;
}



