/* From google-fonts page */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Sans&family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');

/* Resetting the css */
*{
    margin: 0;
    padding: 0;
}

.container{
    /* flex is used to bring sidebar and main content side-by-side i.e. 2 things opposite to each other*/
    display: flex;
}

.sidebar{
    background-color: rgb(201, 201, 201);

    /* vw and vh --> viewport width and height  */
    width: 250px;                         
    height: 100vh;

    /* From google-fonts page */
    font-family: 'Montserrat', sans-serif;
}


/* .className sub-tag  */
.sidebar nav{
    padding: 10px;
    font-size: 20px;
    
}

/* .className sub-tag sub-tag */
.sidebar nav li{
    list-style: none;
    padding: 25px 0;
    margin-top: 35px;
    
}

.sidebar nav a{
    text-decoration: none;
    color: black;
}

.main{
    background-color: rgb(233, 238, 240);
    width: 87vw;
    padding-left: 12px;
}


.infocontainer{
    /* background-color:green; */
    height: 55vh;
    width: 70vw;
    margin: auto;                      /* to center the div*/
    margin-top: 100px;
    display: flex;
    justify-content: space-around;     /*brings space around the two flexed things */
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
font-family: 'Source Code Pro', monospace;
}

.hello{
font-size: 50px;

}

.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    }

.about{
    font-size: 30px;
}

.more_about{
    margin-top: 5px;
}

.buttons button{
padding: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 25px;
color: white;
background-color: rgb(19, 101, 104);
font-weight: bold;
margin: 0 3px;
cursor: pointer;
}

.buttons{
margin-top: 34px;
}

.buttons button:hover{
    background-color: white;
    color: black;
}

.devpic img{
    height: 344px;
}













.contactform{
    padding-top: 150px;
}
.contactform h2{
    /* text-align: center; */
    padding-left: 10px;
}

.contactform  form {
    padding-left: 10px;
}

.contactform  form div{
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    
}

#clientname{
    width: 25vw;
    height: 20px;
    border-radius: 5px;
   
}

#clientemail{
    width: 25vw;
    height: 20px;
    border-radius: 5px;
}

#clientphone{
    width: 25vw;
    height: 20px;
    border-radius: 5px;
}

#clientenquire{
    width: 25vw;
    height: 20px;
    border-radius: 5px;
   
}

#checkLine{
    margin-top: 1px;
    padding-left: 10px;
}

#checkDiv{
    display: flex;
    flex-direction: row;
}

#emailHelp{
    font-size:x-small;
}

#isClientCheckbox{
    margin-top: 3px;
}

.btn{
    color: white;
background-color: rgb(79, 113, 228);
font-weight: bold;
margin: 0 3px;
cursor: pointer;
width: 8vw;
height: 4vh;
border-radius: 5px;
}









.intro{
    margin-top: 100px;
}


.intro h2{
    font-family: 'Source Code Pro', monospace;

}

.intro p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;

}

.skillscontainer{
    padding-top: 27px;
}

.skillscontainer span{
    padding: 90px;
    margin-left: 112px;

}
.htmlbar{
    background-color: black;
    height: 5px;
    width: 700px;
    margin-bottom: 40px;
}

.cssbar{
    background-color: black;
    height: 5px;
    width: 680px;
    margin-bottom: 40px;
}

.bootbar{
    background-color: black;
    height: 5px;
    width: 600px;
    margin-bottom: 40px;
}

.jsbar{
    background-color: black;
    height: 5px;
    width: 230px;
    margin-bottom: 40px;
}